body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

#produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 20px;
}

.produto-card{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    transition: 0.2s;
}

.produto-card img{
    height: 150px;
    object-fit: contain;
}

button{
    background: #2563eb;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

@media(max-width: 768){
    
    #lista-produtos{
        grid-template-columns: 1fr 1fr;
    }
}